{% extends 'candidates/about.html' %}

{% block content %}

<p>
  Το <i>neavouli</i> είναι μία ενημερωτική ιστοσελίδα για τους υποψήφιους
  βουλευτές των εκλογών του Μαΐου 2016 στην Κύπρο.  Στοχεύουμε στο να
  παρουσιάσουμε με ένα απλό και κατανοητό τρόπο τα ψηφοδέλτια όλων των κομμάτων και σχηματισμών
  ανά επαρχία, όπως και πληροφορίες για τον κάθε υποψήφιο ξεχωριστά.
  Σκοπός είναι η ιστοσελίδα να αποτελέσει ένα αξιόπιστο οδηγό και βάση δεδομένων
  τόσο για τις εκλογές του Μαΐου 2016 αλλά και για όλες τις μελλοντικές βουλευτικές εκλογές.
</p>

<p>
  Το <i>neavouli</i> διαφέρει από άλλες παρόμοιες ιστοσελίδες γιατί έχει σαν επίκεντρο την ανοικτή γνώση. Συγκεκριμένα:
</p>

<ul>
  <li>
    Η ιστοσελίδα είναι μη κερδοσκοπική και δεν χρησιμοποιείται για να
    προάγει απόψεις, υποψήφιους ή παρατάξεις. Ενδιαφέρον μας είναι η ενημέρωση των πολιτών.
  </li>
  <li>
    Οι πληροφορίες προσθέτονται από εθελοντές χρήστες, άνευ αμοιβής.
    Ο καθένας μπορεί να επεξεργαστεί τη βάση δεδομένων με τη δημιουργία ενός λογαριασμού. Η κάθε αλλαγή είναι δημόσια,
    αποδίδεται στον χρήστη που την έπραξε και συνοδεύεται πάντοτε από μία ή περισσότερες πηγές που αποδεικνύουν την ορθότητά της.
  </li>
  <li>
    Οι πληροφορίες διατίθενται δωρεάν για οποιαδήποτε χρήση και σε
    πραγματικό χρόνο.
  </li>
  <li>
    Οι πληροφορίες διατίθενται σε µηχανικά αναγνώσιµη μορφή,
    επιτρέποντας την περαιτέρω επεξεργασία τους από τρίτους.
  </li>
  <li>
    Η εφαρμογή είναι «ελεύθερο λογισμικό».  Ο καθένας μπορεί να μελετήσει
    το <i>neavouli</i>, να κτίσει πάνω του, να το μετατρέψει και να το
    αναδημοσιεύσει.  Η ελευθερία διευρύνει τη γνώση.
  </li>
</ul>

<div class="about-columns row">
  <div class="medium-4 columns">
<h3>Άδεια χρήσης</h3>

<p>
  Τα δεδομένα της ιστοσελίδας αυτής παρέχονται υπό τους όρους της άδειας
  χρήσης
  <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="external">Creative Commons Attribution-ShareAlike 4.0</a> (CC-BY-SA),
  εξαιρουμένων των λογότυπων κομμάτων και σχηματισμών και των φωτογραφιών
  υποψήφιων, για τη χρήση των οποίων θα πρέπει να επικοινωνήσετε με τους
  δικαιούχους.
</p>
  </div>
  <div class="medium-4 columns">
<h3>Πολιτική προστασίας προσωπικών δεδομένων</h3>

<p>
  Μπορείτε να βρείτε <a href="{% url 'help-privacy' %}">εδώ</a> την
  πολιτική προστασίας προσωπικών δεδομένων της ιστοσελίδας μας.
</p>
  </div>
  <div class="medium-4 columns">
<h3>Δήλωση αποποίησης ευθύνης</h3>

<p>
  Τα δεδομένα του <i>neavouli</i> είναι πληθοπορισμένα (crowd-sourced) και
  μπορεί να είναι ελλειπή ή να περιέχουν ανακρίβειες.  Για τυχόν παραλείψεις
  και λάθη, παρακαλώ επικοινωνήστε μαζί μας στην διεύθυνση
  <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
</p>
  </div>
</div>

<p>
  Το <i>neavouli</i> δημιουργήθηκε και συντηρείται από τους
  <a href="https://github.com/wfdd" rel="external"><i>Δημήτρη</i></a> και
   <a href="https://github.com/tetris4" rel="external"><i>Νεόφυτο</i></a>. Eίναι
  βασισμένο στο
  «<a href="https://github.com/mysociety/yournextrepresentative" rel="external">YourNextRepresentative</a>»,
  εφαρμογή που καθιστά ικανή την δημιουργία πληθοπορισμένων βάσεων δεδομένων
  περί αντιπροσώπων.  Το «YourNextRepresentative» κατασκευάστηκε με πρωτοβουλία
  του <a href="https://www.mysociety.org/" rel="external">mySociety</a>,
  ένα μη κερδοσκοπικό οργανισμό πολιτικής διαφάνειας με έδρα το
  Ηνωμένο Βασίλειο.
  Μπορείτε να βρείτε τον δικό μας τροποποιημένο κώδικα (neavouli fork)
  <a href="https://github.com/neavouli/yournextrepresentative" rel="external">εδώ</a>.
</p>

{% endblock %}
