{% extends 'base.html' %}

{% block title %}Επικοινωνία{% endblock %}

{% block hero %}
  <h1>Επικοινωνία</h1>
{% endblock %}

{% block content %}
<p>
  Για παραλείψεις, λάθη, σχόλια, απορίες, ιδέες και οτιδήποτε άλλο σχετικό με
  την ιστοσελίδα μας μπορείτε να επικοινωνήσετε μαζί μας στην ηλεκτρονική διεύθυνση
  <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
</p>

<p>
  Παρακαλούμε να έχετε υπόψη ότι τα δεδομένα του <i>neavouli</i> είναι
  πληθοπορισμένα (crowd-sourced) και
  μπορεί να είναι ελλειπή ή να περιέχουν ανακρίβειες. Ωστόσο μπορείτε να
  συμβάλετε στη διόρθωση και ενημέρωσή τους εύκολα και γρήγορα με τη
  <a href="{% url 'account_signup' %}">δημιουργία ενός λογαριασμού</a>.   
</p>
{% endblock %}
